#contenedor {
  text-align: start;
  font-family: "Quicksand", sans-serif;
  color: #ff9a3c;
  margin: 12%;
 }
#contenedor2 {
 
  display: flex;
  justify-content: center;
  align-items: center;  
  margin: 0 0 0 23%;
 }
 #contenedor3{
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;  
 }
#contenedorLabel1 {
  position: relative;
  display: inline-block;
  text-align: center;
}

#contenedorLabel2 {
  position: relative;
  display: inline-block;
  text-align: center;
}

.soyEber {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #155263;
  font-size: 35px;
}

.Developer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #155263;
  font-size: 5rem;
  
}

.fullStack {
  color: #ff9a3c;
  font-size: 5rem;
}

#paralelogramo {
  width: 320px;
  height: 100px;
  background: #ff9a3c;
  transform: skew(20deg);
  border-radius: 7px;
}

#paralelogramo3 {
  width: 550px;
  height: 200px;
  background: #ff9a3c;
  transform: skew(-20deg);
  border-radius: 7px;
}

 

/* navbar  */
.hola {
  font-family: "Quicksand", sans-serif;
  color: #ff9a3c;
  font-size: 3rem;
}

.botones {
  display: flex;
  align-items: center;

  gap: 9px;
  color: #ff9a3c;
  width: 50%;
}

#boton {
  color: #ff9a3c;
}

.contenedorNavb {
  display: flex;
  justify-content: space-between;
}
