#bienvenidx {
  font-size: 6rem;
  font-family: "Quicksand", sans-serif;
  color: #ff9a3c;
}
.form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 100px;
  align-items: center;
  margin: 100%;
  font-family: "Quicksand", sans-serif;
  color: #ff9a3c;
  gap: 4rem;
}

#input {
  color: #ff9a3c;
  text-align: center;
  font-size: 25px;
  border: none;
  border-bottom: 1px solid #FFC93C;
}
#input:focus{
  
}

#boton {
  color: #ff9a3c;
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
}
@media (max-width: 700px){
  #bienvenidx{
    font-size: 4rem;
  }
}