#bienvenidx {
  font-size: 6rem;
  font-family: "Quicksand", sans-serif;
  color: #ff9a3c;
}
.form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 100px;
  align-items: center;
  margin: 100%;
  font-family: "Quicksand", sans-serif;
  color: #ff9a3c;
  gap: 4rem;
}

#input {
  color: #ff9a3c;
  text-align: center;
  font-size: 25px;
  border: none;
  border-bottom: 1px solid #ffc93c;
}
#input:focus {
  outline: none;
  border-bottom: 2px solid #ff9a3c;
}

#boton {
  color: #ff9a3c;
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
}
@media (max-width: 700px) {
  #bienvenidx {
    font-size: 4rem;
  }
}
@media (max-width: 600px) {
  #bienvenidx {
    font-size: 2.2rem;
  }
  .form {
    margin: 10% 2% 2% 2%;
    gap: 1.2rem;
    grid-auto-rows: 60px;
  }
  #input {
    font-size: 1rem;
  }
  #boton {
    font-size: 1.1rem;
  }
}
